* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

#main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 20, 20);
}

.cards {
    position: relative;
    height: 75vh;
    width: 50vh;
    overflow: hidden;
    border: .5px solid #000;
    border-radius: .5rem;
    background-color: #f5f5f7;
}


#fullPage-story {
    display: none;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.stories {
    width: 100%;
    height: 21%;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #e7e6e6;
    border-bottom: .5px solid #d4d4d4;
    padding: .8rem;
    white-space: nowrap;
}

/* Width of the scrollbar */
.stories::-webkit-scrollbar {
    /* width: 0.4rem; */
    height: 0.4rem;
    /* display: none; */
}

/* Track (the area behind the thumb) */
.stories::-webkit-scrollbar-track {
    background: transparent;
}

/* The scrollbar itself (the thumb) */
.stories::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
}

/* On hover, style the scrollbar */
.stories::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.circle {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    padding: .25rem;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    margin-right: .4rem;
}

.circle img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}